.about-page {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
}

@media screen and (max-width: 480px) {
	.about-page {
		width: 95%;
	}
}

.about-image {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

@media screen and (max-width: 480px) {
	.about-image {
		width: 100%;
	}
}