.navbar-app {
  z-index: 999;
  background-image: none;
}

.navbar-homepage, .user-navbar {
  border: none !important;
}

.navbar-homepage {
  background-color: transparent !important; 
}

nav.navbar-app {
  background-color: #2c3e50 !important; 
  height: 50px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited {
  color: #AAA;
  padding-top: 25px !important;
  padding-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:active,
  .navbar-default .navbar-nav>li>a:visited {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #2c3e50;
    border-bottom: 1px solid white;
    border-radius: 3px;
  }
}

.navbar-app-link {
  a {
    color: black !important;
    font-size: 300px !important;
    &:hover {
      opacity: 0.8 !important;
    }
    &:focus {
      outline: none;
    }
  }
}

a.navbar-app-link,
a.navbar-app-link:hover,
a.navbar-app-link:visited,
a.navbar-app-link:active {
  display: block;
  color: #AAA;
  text-decoration: none;
}

.navbar-default {
  width: 100vw !important;
  margin: 0 !important;
  position: fixed !important;
  left: 0;
  top: 0;
  border-radius: 0;
  border: none;
}

.app-name {
  cursor: pointer; 
}

.navbar-brand {
  font-family: Righteous;
  color: white !important;
  font-size: 40px !important;
  display: inline-block;
  padding: 15px 5px !important;
}

.navbar-toggle {
  background-color: #2c3e50 !important;
  border-color: white !important;
}

.navbar-collapse {
  border-color: black !important;
}

.icon-bar {
  background-color: white !important;
}

.right-link{
  font-size: 16px !important;
  a {
     color: green !important;
     &:hover {
        opacity: 0.8; 
     }
     &:focus {
        outline: none;
     }
  }
}

.container {
  width: 98% !important; 
}

.logo {
  width: 28px;
}

.logo-container {
  position: absolute;
  top: 9px; 
  left: 180px; 
}