.no-login-msg-page {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1000px; /*this is so the page deosn't jump when reloading cards*/
}

@media screen and (max-width: 480px) {
	.no-login-msg-page {
		width: 95%;
	}
}