.card-container{
	width: 113px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
	font-size: 10px;
	padding: 3px;
	padding-top: 1px;
	background-color: white;
}

.senator-pic-box, .senator-name, .party-state {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.senator-pic-box {
	width: 34px; /* = 30% of card container width, which was originally 113px (hard coded b/c brand new senators have non-standard images)  */
	height: 41px; /* = (225/275 ratio. Hardcoded because brand new senators have non-standard images */
	margin-left: auto;
	margin-right: auto;
}

.senator-pic {
	width: 100%;
	height: 100%;
	padding: 1px;
}

.score-guns-title, 
.score-pro-life-title, 
.score-lgbt-title, 
.score-clean-energy-title, 
.score-small-gov-title,
.score-donation-impact-title {
	display: inline-block;
	width: 75%;
}

.score-guns-value, 
.score-pro-life-value, 
.score-lgbt-value, 
.score-clean-energy-value, 
.score-small-gov-value,
.score-donation-impact-value {
	display: inline-block;
	width: 25%;
	text-align: right;
}